<system.identityModel>
  <identityConfiguration>
    <claimsAuthorizationManager type="Bootcamp.Infrastructure.Security.ClaimsAuthorizationManager, Bootcamp.Infrastructure"/>
    <claimsAuthenticationManager type="Bootcamp.Infrastructure.Security.ClaimsAuthenticationManager, Bootcamp.Infrastructure"/>
  </identityConfiguration>
</system.identityModel>
